@page
@model Jadwallo.Pages.tambahModel
@{
	ViewData["Title"] = "Home page";
}

    <section>
      <div class="row text-center mb-4">
        <h1>Tambah Data Tugas</h1>
      </div>
      @if (Model.errorMessage.Length > 0) {
          <div class="row">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
          </div>
      }
      <div class="row mt-3 mb-4">
            <form method="post"> 
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama Tugas</label>
                    <input type="text" class="form-control" id="nama" placeholder="" value="@Model.jadwalInfo.nama" name="nama"/>
                </div>
                <div class="mb-3">
                    <label for="tanggal" class="form-label">Tenggat Waktu</label>
                    <input type="text" class="form-control" id="tanggal" placeholder="" value="@Model.jadwalInfo.tanggal" name="tanggal"/>
                </div>
                <div class="mb-3">
                    <label for="keterangan" class="form-label">Keterangan</label>
                    <input type="text" class="form-control" id="keterangan" placeholder="" value="@Model.jadwalInfo.keterangan" name="keterangan"/>
                </div>
                @if (Model.succesMessage.Length > 0) {
                    <div class="row mb-3">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>@Model.succesMessage</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                            </div>
                    </div>
                }
                <div class="row mb-3 mt-5">
                    <div class="offset-sm-3 col-sm-3 d-grid">
                        <a class="btn btn-outline-danger" href="/" role="button">Batal</a>
                    </div>
                    <div class="col-sm-3 d-grid">
                        <button class="btn btn-outline-success" type="submit" id="submit" name="submit">Tambah</button>
                    </div>  
                </div>
            </form>
        </div>
    </section>
